.byline.svelte-hw02nk.svelte-hw02nk.svelte-hw02nk{font-family:Newsreader, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;font-style:italic
}.patents.svelte-hw02nk.svelte-hw02nk.svelte-hw02nk{list-style-type:disc
}.patents.svelte-hw02nk>.svelte-hw02nk:not([hidden])~.svelte-hw02nk:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0.75rem * var(--tw-space-y-reverse))
}.patents.svelte-hw02nk.svelte-hw02nk.svelte-hw02nk{padding-left:1.75rem
}.patents.svelte-hw02nk .svelte-hw02nk.svelte-hw02nk::marker{color:rgb(163 163 163 )
}.patents.svelte-hw02nk.svelte-hw02nk.svelte-hw02nk::marker{color:rgb(163 163 163 )
}.patents.svelte-hw02nk .meta.svelte-hw02nk.svelte-hw02nk{display:block;font-size:1rem;line-height:1.5rem;--tw-text-opacity:1;color:rgb(115 115 115 / var(--tw-text-opacity))
}.patents.svelte-hw02nk .pdesc.svelte-hw02nk.svelte-hw02nk{margin-top:0.125rem;display:block;font-size:1rem;line-height:1.5rem
}